* {
  text-decoration: none;
  margin: 0;
  font-family: sans-serif;
}

.field-row {
  display: flex;
  justify-content: center;
  margin-top: -30px;
}

.field {
  width: 104px;
  height: 120px;
  position: relative;
}

.hex-top {
  width: 0;
  border-bottom: 30px solid;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.hex-middle {
  width: 104px;
  height: 60px;
}

.hex-bottom {
  width: 0;
  border-top: 30px solid;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.road {
  width: 50px;
  height: 6px;
  position: absolute;
  background-color: black;
  border: 0.1px solid white;
}

.road-top-right {
  top: 12px;
  right: 2px;
  transform: rotate(30deg);
}

.road-top-left {
  top: 12px;
  transform: rotate(-30deg);
}

.road-right {
  right: 2px;
  top: 50%;
  bottom: 50%;
  transform: rotate(90deg) translate(0, -27px);
}

.road-left {
  left: 2px;
  top: 50%;
  bottom: 50%;
  transform: rotate(90deg) translate(0, 27px);
}

.road-bottom-right {
  bottom: 12px;
  right: 2px;
  transform: rotate(-30deg);
}

.road-bottom-left {
  bottom: 12px;
  transform: rotate(30deg);
}

.crossroad {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 10px;
  border: 0.4px solid black;
}

.crossroad-top {
  top: 0;
  left: 50%;
  right: 50%;
  transform: translate(-10px, -10px);
}

.crossroad-top-left {
  top: 30px;
  transform: translate(-10px, -10px);
}

.crossroad-top-right {
  top: 30px;
  right: 0;
  transform: translate(10px, -10px);
}

.crossroad-bottom {
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-10px, 10px);
}

.crossroad-bottom-left {
  bottom: 30px;
  transform: translate(-10px, 10px);
}

.crossroad-bottom-right {
  bottom: 30px;
  right: 0;
  transform: translate(10px, 10px);
}

.chit {
  width: 25px;
  height: 25px;
  top: 49%;
  left: 47%;
  transform: translate(-11px, -11px);
  position: absolute;
  text-align: center;
  line-height: 27px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  background-color: white;
  font-weight: 600;
  color: black;
}

main {
  background-color: #999;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  color: black;
}

.player {
  margin: 50px 20px 125px 20px;
  font-size: 40px;
  font-weight: 700;
}

.diceroll {
  margin-top: 33px;
  margin-left: 20px;
  font-size: 50px;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.roll-number {
  background-color: white;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 5px;
  margin-top: -5px;
  border: 2px solid black;
}

.resources {
  display: flex;
  flex-direction: column;
  margin: 40px 20px;
  font-size: 32px;
  text-align: right;
  width: 155px;
  font-weight: 600;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
}

.board {
  margin-top: -500px;
  margin-bottom: 75px;
}

.next-turn {
  position: absolute;
  width: 200px;
  height: 50px;
  font-size: 30px;;
  border-radius: 15px;
  margin-top: 25px;
  border: 3px solid black;
  font-weight: 600;
  z-index: 9999;
  color: white;
}

.start-button {
  width: 200px;
  height: 50px;
  font-size: 30px;
  border: transparent;
  border-radius: 15px;
  margin-bottom: 25px;
  border: 3px solid black;
  font-weight: 600;
  color: black;
  text-align: center;
  padding-top: 15px;
}

.player-signup {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: space-around;
  background-color: #999;
  padding: 100px 0px;
}

.player-signup h2 {
  font-size: 50px;
}

.player-one,
.player-two,
.player-three,
.player-four {
  text-align: center;
  width: 400px;
  height: 50px;
  font-size: 40px;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.player-one::placeholder,
.player-two::placeholder,
.player-three::placeholder,
.player-four::placeholder {
  opacity: 1;
  color: white;
}

.player-one {
  background-color: red;
}

.player-two {
  background-color: navy;
}

.player-three {
  background-color: magenta;
}

.player-four {
  background-color: gold;
}

.legend {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 1100px;
  margin-top: 70px;
  font-weight: 600;
  height: 250px;
  width: 290px;
  justify-content: space-between;
  font-size: 20px;
}

.legend-text {
  width: 100px;
  text-align: center;
}

.legend-build {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: flex-end;
  width: 220px;
}

.build-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 107.5px;
}

.legend-secondary {
  margin-top: 20px;
  margin-left: -30px;
  padding: 20px;
  border: 2px solid black;
  width: 230px;
  height: 250px;
  border-radius: 5px;
  background-color: white;
}

.legend-primary {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  width: 270px;
  margin-left: -30px;
}